<center>
	<h1> Fugly Countdown Timer</h1>

	<p>
		<div id="clockdiv">
    		Days: <span class="days"></span><br>
    		Hours: <span class="hours"></span><br>
    		Minutes: <span class="minutes"></span><br>
    		Seconds: <span class="seconds"></span>
		</div>
	</p>
</center>
