<center>
	<div style="width: 50%; background-color: #00ecb9; border-radius: 7px; color: white;">
	<h1>Countdown Clock</h1>

	<p>
		<div id="clockdiv">
    		<div>Days: <span class="days"></span></div>
    		<div>Hours: <span class="hours"></span></div>
    		<div>Minutes: <span class="minutes"></span><div>
    		<div>Seconds: <span class="seconds"></span></div>
		</div>
	</p>
	</div>
</center>
