<% title @user.name %>

<div class="row pad-top-sm">
  <div class="col-md-12">
    <div class="row portfolio-item thumbnail infoplus">
      <span class="h3"><%= @user.name %></span><br><hr>
      <p>Signed in as <%= @user.email %></p>
    </div>
  </div>
</div>


<div class="row pad-top">
  <div class="col-md-6">
    <div class="row portfolio-item thumbnail infoplus">
      <span class="h3">Favorite Tournaments</span>
      <% if @favorite_tournaments %> <br><hr>
      <% @favorite_tournaments.each do |favorite_tournament| %>
      <b><%= link_to favorite_tournament.title, tournament_path(favorite_tournament) %></b><br>
      <% end %>
      <% else %>
      <p> No favorites yet </p>
      <% end %>
    </div>
  </div>

  <div class="col-md-6">
    <div class="row portfolio-item thumbnail infoplus">
      <span class="h3">Favorite Competitors</span><br><hr>
    <% if @favorite_competitors %>
      <% @favorite_competitors.each do |favorite_competitor| %>
       <span class="p"><%= link_to favorite_competitor.name, competitor_path(favorite_competitor) %></span> <b>/</b>
      <% end %>
    <% else %>
      <p> No favorites yet </p>
    <% end %>
    </div>
    </div>
  </div>
</div>