<div class="row" style="padding-top:15px">
  <div class="col-md-12">
    <div class="row portfolio-item thumbnail infoplus">
      <span class="h3"><%= @user.name %></span><br><hr>
      <p>Signed in as <%= @user.email %></p>
    </div>
  </div>
</div>


<div class="row" style="padding-top:30px">
  <div class="col-md-6">
    <div class="row portfolio-item thumbnail infoplus">
      <span class="h3">Favorite Tournaments</span>
      <% if @favorite_tournaments %> <br><hr>
      <% @favorite_tournaments.each do |favorite_tournament| %>
      <%= link_to favorite_tournament.name, tournament_path(favorite_tournament) %><br>
      <% end %>
      <% else %>
      <p> No favorites yet </p>
      <% end %>
    </div>
  </div>

  <div class="col-md-6">
    <div class="row portfolio-item thumbnail infoplus">
      <span class="h3">Favorite Competitors</span>
    <% if @favorite_competitors %>
      <% @favorite_competitors.each do |favorite_competitor| %>
       <p><%= link_to favorite_competitor.name, competitor_path(favorite_competitor) %></p><br><hr>
      <% end %>
    <% else %>
      <p> No favorites yet </p>
    <% end %>
    </div>
    </div>
  </div>
</div>






