
<div class="row">

    <div id="events_calendar">
      <%= render partial: "/events/calendar", locals: {events: @tournaments} %>
    </div>

</div>

<!-- RIP google cal -->
<!-- <object data="https://calendar.google.com/calendar/embed?src=contact.esportal%40gmail.com&ctz=America/Los_Angeles" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></object> -->
