<h1>Tons of tournaments</h1><br>

<ul>
  <% @tournaments.each do |tournament| %>
  <li><%= tournament.name %></li>
  <% end %>
</ul>


<div class="row">

  <div class="col-md-6"><a href="#" class="thumbnail"><img src="http://goo.gl/JrWrnz">Hello</a></div>
  <div class="col-md-3"><a href="#" class="thumbnail"><img src="http://goo.gl/JrWrnz">Hello</a></div>
  <div class="col-md-3"><a href="#" class="thumbnail"><img src="http://goo.gl/JrWrnz">Hello</a></div>
  <div class="col-md-3"><a href="#" class="thumbnail"><img src="http://goo.gl/JrWrnz">Hello</a></div>
  <div class="col-md-3"><a href="#" class="thumbnail"><img src="http://goo.gl/JrWrnz">Hello</a></div>
  <div class="col-md-3"><a href="#" class="thumbnail"><img src="http://goo.gl/JrWrnz">Hello</a></div>
  <div class="col-md-3"><a href="#" class="thumbnail"><img src="http://goo.gl/JrWrnz">Hello</a></div>
  <div class="col-md-3"><a href="#" class="thumbnail"><img src="http://goo.gl/JrWrnz">Hello</a></div>
  <div class="col-md-3"><a href="#" class="thumbnail"><img src="http://goo.gl/JrWrnz">Hello</a></div>
  <div class="col-md-3"><a href="#" class="thumbnail"><img src="http://goo.gl/JrWrnz">Hello</a></div>
  <div class="col-md-3"><a href="#" class="thumbnail"><img src="http://goo.gl/JrWrnz">Hello</a></div>
  <div class="col-md-3"><a href="#" class="thumbnail"><img src="http://goo.gl/JrWrnz">Hello</a></div>
  <div class="col-md-3"><a href="#" class="thumbnail"><img src="http://goo.gl/JrWrnz">Hello</a></div>



</div>