<h1>Tons of tournaments</h1><br>



<div class="row hidden">

  <% @tournaments.each do |tournament| %>
  <div class="col-md-3"><a href="/tournaments/<%=tournament.id%>" class="thumbnail"><img src="http://goo.gl/JrWrnz"><div class="info"><%= tournament.name %></div></a></div>
  <% end %>

</div>