<% title "Calendar" %>

<div class="row" style="padding-bottom:15px">
    <div id="events_calendar">
      <%= render partial: "/events/calendar", locals: {events: @tournaments} %>
    </div>
</div>

