<div class="row" style="padding-top:15px">
  <div class="col-md-12">
    <div class="row portfolio-item thumbnail infoplus">
      <span class="h3"><%= @competitor.name %></span><br><hr>
      <span><%= @competitor.favorites.count %> followers</span>
    </div>
  </div>
</div>


